* {
    color: #3E4651;
}
html {
    /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units */
    font-size: 62.5%;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
}
body {
    background-color: #3E4651;
}
.container {
    max-width: 960px;
    margin: 80px auto;
}
/*time area*/

#time-row {
    width: 80%;
    margin: 0 auto;
    background-color: #F1654C;
    border-radius: 5px;
    box-shadow: #333 1px 1px 5px;
}
#time {
    font-family: 'Century Gothic';
    text-align: center;
    text-shadow: #3E4651 1px 1px 6px;
}
#time span {
    font-size: 20rem;
    display: inline-block;
    line-height: 1.4em;
}
/*afeter time*/

#time-below-row,
#grades-row {
    margin: 20px auto;
    /*    margin-top: 20px;*/
    border-radius: 4px;
    background-color: #F1654C;
    box-shadow: #F1654C 0 0 5px;
}
#time-below-row {
    background-color: #00B5B5;
    box-shadow: #00B5B5 0 0 5px;
}
#chaos {
    display: block;
    width: 100%;
    
    color: #eee;
    font-size: 2.6rem;
    text-align: center;
    text-shadow: #d4d4d4 0 0 1px;
    line-height: 2.4em;
}
#grades-row {
    width: 70%;
    background-color: #3E4651;
    box-shadow: #eee 0 0 5px;
}
#grades {
    margin: 5px;
    padding: 0;
    list-style: none;
    text-align: center;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
#grades > li {
    margin: 2px 5px;
    display: inline-block;
    color: #F1654C;
    font-size: 1.8rem;
    text-shadow: #F1654C 0 0 1px;
}
#grades > li:first-child {
    font-size: 2.4rem;
}
/*cursor*/

#time-row,
#time-below-row,
#grades-row {
    cursor: default;
}